*{
    margin: 0px;
    padding: 0px;
    border:border-box ;
    

}
.header {
    color:#F3F3F3;
    background-color: black;
    
    display: flex;
    padding: 10px;
}
.header i {
    padding: 10px;
    font-size: 30px;
}
.nav-search {
    margin-left: 20px;
    display: flex;
    justify-content: space-evenly;
    background-color: #161414;
    width: 400px;
    height: 40px;
    border-radius: 30px;
    margin-top: 4px;
}
.search-input {
    width: 100%;
    font-size: 20px;
    border: none;
    color: white;
    border-radius: 30px;
    background-color: #161414;
    border:none;
    padding-left: 10px;
    
} 

.search-icon {
    
      display: flex;
      justify-content: center;
      align-items: center;
}
.search-icon i {
    font-size: 20px;
}
.header p {
    padding-top: 3px;
    padding-left: 20px;
    margin-top: 10px;
    padding-right: 20px;
    color: bisque;
    font-family:sans-serif;
   font-weight: bold;
   cursor: pointer;
}
.header  a {
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
    
   margin-top: 10px;
   font-size: 15px;
   color: bisque;
   font-family:sans-serif;
  font-weight: bold;
  background-color: black;
}



.header h4{
    margin-left: 600px;
    padding-top: 3px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    color: bisque;
    font-family: sans-serif;
    font-weight: bold;
}
#menubar{
 display: none;
}

.header  a:hover {
    color: white;
transform: scale(1.05);
}
.header button:hover {
    color: #161414;
   transform: scale(1.05);
    
}

.header button {
    width: 90px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
}

.container {
    width: 100%;

    background: black;
    display: flex;
  
}
.main {
    margin-left: 10px;
    background-color: #161414;
    height: 750px;
    width: 73%;
    overflow-y: auto;
    border-radius:10px;
    margin-right: 10px;
}
.main::-webkit-scrollbar {
display: none;
 }
.container .sidebar {
   margin-left: 10px;
    background-color: #161414;
  
  border-radius: 10px;
}
.sidebar h2 {
    color: rgb(197, 187, 175);
    padding: 20px 15px 15px 15px;
    /* background:rgb(43, 41, 41); */
    border-radius: 10px;
    font-family:sans-serif;
   font-weight: bold;
}
.sidebar h3 {
     padding-top: 30px;
     padding-left: 15px;
     margin-left: 10px;
    margin-top: 50px;
    color: bisque;
    font-family:sans-serif;
   font-weight: bold;
   width: 240px;
   background:rgb(43, 41, 41);
}
.sidebar p {
    margin-left: 10px;
    background: rgb(43, 41, 41);
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-family:sans-serif;
    color: bisque;
    width: 240px;
}
 .box1 {
    background: rgb(43, 41, 41);
    border-radius: 10px;
     margin: 10px;
 
 }
 .box1 button {
  color:black; 
  width: 150px;
   height: 40px; 
    border-radius: 40px; 
   font-weight: bold;
    cursor: pointer;
    
}
 .but {
    border-radius: 10px;
    border: none;
    padding: 15px 15px 15px 15px;
}
.box2 button{
    color:black; 
    width:150px; 
    height: 40px;
     background: aliceblue; 
     border-radius: 40px; 
     font-weight: bold; 
     cursor: pointer;
}
.buton {
    border-radius: 10px;
    border: none;
    padding: 15px 15px 15px 15px;
}
.box2 p {
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 15px;
    padding-top: 10px;
    font-family:sans-serif;
    color: bisque;
    width: 340px;
}
.box2 h3 {
    
     padding-top: 30px;
margin-left: 10px;
     padding-left: 15px;
     margin-left: 10px;
    margin-top: 50px;
    color: bisque;
    font-family:sans-serif;
   font-weight: bold;
   width: 340px;
}
.box2 {
    border-radius: 10px;
     margin: 10px;
     background: rgb(43, 41, 41);
    margin-bottom: 30px;
 }

.links ul li  {
    display: inline;
    list-style: none;
    text-decoration: none;
    font-size: 15px;
    font-family:sans-serif;
    font-weight: bold;
    background:#161414;
    margin-left: 5px;
   cursor: pointer;
    
    color: rgb(197, 187, 175); 
}
.main .sidebar2 {

    width: 100%;
    height: 100px;
    background-color: #161414;

}
.sidebar2 h4 {
    font-size: 30px;
    font-family: monospace;
    color: antiquewhite;
    padding: 30px 0px 30px 30px;
    background-color: #161414;

}
.image img {
    background-color: #161414;
    background-size: cover;
    margin-top: 7px;
    border-radius: 50%;
    margin-left: 15px;
    height:130px;
    width:130px;
    margin-right: 10px;
} 
.image {
    margin-top: 0px;
    background-color: #161414;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
   
}

 
.image .card {
    margin-top: 20px;
    margin-left: 7px;
    margin-right: 5px;
    height: 250px;
    width: 160px;
    cursor: pointer;
    border-radius: 10px;
   
}
.image .card:hover {
    background: rgb(43, 41, 41);
    transform: scale(1.05);
}
.image::-webkit-scrollbar {
    display: none; 
}
.image .card h5 {
    font-family: Arial, Helvetica, sans-serif;
    color: bisque;
    margin-top: 20px;
    margin-left: 10px;
    text-align: left;
    font-size: 20px;
    cursor: pointer;
    
}
.image .card p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(197, 187, 175);
    margin-top: 5px;
    margin-left: 10px;
    font-size:15px;
    cursor: pointer;
}
.sidebar2 .song {
  margin-top: 5px;
    width: 100%;
    height: 350px;
    
}
.song {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    overflow-x: auto;
    background-color: #161414;
 
 
}
.song .cards img {
    height: 170px;
    width: 120px;
    margin: 15px;
    background-size: cover;
    border-radius:10px;
    
  
}
.song .cards {
    margin-top: 10px;
  margin-left: 20px;
    height: 280px;
    width: 150px;
   cursor: pointer;
    border-radius: 10px;
    
  
}
.song .cards:hover {
    background: rgb(43, 41, 41);
    transform: scale(1.05);
}
.song::-webkit-scrollbar {
    display: none; 
}

.foot {
    
    margin-top: 0px;
    color: #F3F3F3;
    background-color: #161414;

    display: flex;
   justify-content: space-evenly;
}
ul p {

    font-weight: bold;
    font-family: sans-serif;
   
}
.foot ul a {
    font-size: 13px;
    display: flex;
   margin-top: 20px;
   color: gray;
   background-color: #161414;
   font-family: sans-serif;
  
}
ul {
    margin: 20px;
  
}
.main hr {
    width:90%;
    margin-left: 40px;
    margin-bottom: 30px;
}
.copy {
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
}
 .logo {
    margin-left: 230px;
     margin-top: 100px;
     color: white;
     font-family: sans-serif;
  
 }

 @media (max-width:500px){
    .header{
        display: flex;
       
        align-items: center;
        padding-left: 20px;
    }
    .header button{
        display: none;
    }
    .header i{
        margin: 30px;
        font-size: 25px;
    }
    .container{
        background-color: black;
    }
  #menubar {
    margin: 30px;
  display: contents;
  margin-left: 200px;
 }
    .main {
        background-color: black;
    
        margin-top: 10px;
    }
    .header i{
        padding-right:0;
        padding-left:10px;
        display: none;
    }
    .header a{
        font-size: 15px;
       
       
    }
    .sidebar2 p{
        background-color: black;
    }
    .sidebar2 h4{
      
        background-color: black;
    }
    .header h4{
        margin-top: 0px;
      margin-left: 0px;
      padding-left: 0;
      padding-right: 70px;
    }
    .nav-search{
        width: 40px;
        display: none;
    }
    .image {
        background-color: black;
        overflow-x: auto;
    }
    .song {
        background-color: black;
        overflow-x: auto;
    }
    .foot{
        background-color: black;
        justify-content: center;
     grid-template-columns: auto;
       
    }
    .foot ul{
        padding-bottom: 20px;
    }
    .foot ul a{
        background-color: black;
        margin-left: 0px;
    }
    .copy {
       
    }
    .logo{
        margin-left: 3px;
    }
   
        .box1 h3{
            padding: 20px 0px 10px 5px; 
            margin: 10px 5px 0px 5px;
            display: flex;
            flex-wrap: wrap;
           width: auto;
        }
    .box1 p {
        padding: 5px 2px 2px 8px;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        
    }
    
    .box1 {
        background: rgb(43, 41, 41);
        border-radius: 10px;
         margin: 10px;
    }
   
      .box1 button {
        color:black; 
         height: 40px; 
          border-radius: 10px; 
         font-weight: bold;
          cursor: pointer;
      }
       .box1 button {
          border-radius: 50px;
          border: none;
          padding: 12px 15px 15px 14px;
      }
      .box2 h3{
      
        padding: 20px 0px 10px 5px; 
           margin: 10px 10px 0px 5px;
           display: flex;
           flex-wrap: wrap;
         width: auto;
       }
   .box2 p {
       padding: 5px 2px 2px 8px;
       margin: 0;
       display: flex;
       flex-wrap: wrap;
    width: 200px;
   }
   .box2 {
       background: rgb(43, 41, 41);
       border-radius: 10px;
        margin: 10px;
       
   }
   
   .box2 button {
    color:black; 
   
   
     height: 45px; 
      border-radius: 50px; 
     font-weight: bold;
      cursor: pointer;
  }
  .box2 button {
    border-radius: 50px;
    border: none;
    padding: 14px 20px 20px 15px;
}
.links {
    padding-top: 20px;
}
.logo{
    margin-top: 45px;
    font-family: sans-serif;
   margin-left: 20px;
   
}
.sidebar{
    height: 815px;
    display: none;
}
.main{
    height: 815px;
}
.links ul li  a{
    list-style: none;
    font-size: 15px;
    font-family:sans-serif;
    font-weight: bold;
    background:#161414;
   
   cursor: pointer;
   margin-top: 5px;
 
    
    color: rgb(197, 187, 175); 
}
.foot ul{
    margin-top: 0px;
    margin-left: 10px;
    font-family: sans-serif;
    margin-bottom: 5px;
 }
 .main {
    margin-left: 10px;
    background-color: #161414;
    height: 792px;
    width: 100%;
    overflow-y: auto;
    border-radius:10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.main hr {
  
    margin: 10px 10px 20px 10px;
}
.header .search-input {
    width: 0;
    font-size: 20px;
    border: none;
    border-radius: 30px;
    background-color: #161414;
    border:none;
} 

.search-icon {
      display: flex;
      justify-content: center;
      align-items: center;
}
.search-icon i {
    font-size: 20px;
}

 }